# Ignore generated directories
Generated Archive Manager Files/
Generated Theme Files/
Generated Theme/
build/
dist/
venv/
.venv/
.TempBuildTheme/

# Ignore specific files
PreviousDirectories.txt
ConsoleAssociations.txt
MinUIThemeGeneratorConfig*
ConsoleAssociations.json
AlternateMenuNames.json

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._* 

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


Sample Theme/credits.txt
Sample Theme/preview.png
Sample Theme/glyph/footer/a.png
Sample Theme/glyph/footer/b.png
Sample Theme/glyph/footer/c.png
Sample Theme/glyph/footer/menu.png
Sample Theme/glyph/footer/x.png
Sample Theme/glyph/footer/y.png
Sample Theme/glyph/footer/z.png
Sample Theme/glyph/header/bluetooth.png
Sample Theme/glyph/header/capacity_0.png
Sample Theme/glyph/header/capacity_10.png
Sample Theme/glyph/header/capacity_20.png
Sample Theme/glyph/header/capacity_30.png
Sample Theme/glyph/header/capacity_40.png
Sample Theme/glyph/header/capacity_50.png
Sample Theme/glyph/header/capacity_60.png
Sample Theme/glyph/header/capacity_70.png
Sample Theme/glyph/header/capacity_80.png
Sample Theme/glyph/header/capacity_90.png
Sample Theme/glyph/header/capacity_100.png
Sample Theme/glyph/header/capacity_charging_0.png
Sample Theme/glyph/header/capacity_charging_10.png
Sample Theme/glyph/header/capacity_charging_20.png
Sample Theme/glyph/header/capacity_charging_30.png
Sample Theme/glyph/header/capacity_charging_40.png
Sample Theme/glyph/header/capacity_charging_50.png
Sample Theme/glyph/header/capacity_charging_60.png
Sample Theme/glyph/header/capacity_charging_70.png
Sample Theme/glyph/header/capacity_charging_80.png
Sample Theme/glyph/header/capacity_charging_90.png
Sample Theme/glyph/header/capacity_charging_100.png
Sample Theme/glyph/header/network_active.png
Sample Theme/glyph/header/network_normal.png
Sample Theme/glyph/muxapp/app.png
Sample Theme/glyph/muxapp/archive.png
Sample Theme/glyph/muxapp/dingux.png
Sample Theme/glyph/muxapp/flip.png
Sample Theme/glyph/muxapp/moonlight.png
Sample Theme/glyph/muxapp/music.png
Sample Theme/glyph/muxapp/portmaster.png
Sample Theme/glyph/muxapp/ppsspp.png
Sample Theme/glyph/muxapp/retroarch.png
Sample Theme/glyph/muxapp/rgbcontroller.png
Sample Theme/glyph/muxapp/scummvm.png
Sample Theme/glyph/muxapp/task.png
Sample Theme/glyph/muxapp/terminal.png
Sample Theme/glyph/muxarchive/archive.png
Sample Theme/glyph/muxarchive/installed.png
Sample Theme/glyph/muxassign/core.png
Sample Theme/glyph/muxassign/default.png
Sample Theme/glyph/muxassign/system.png
Sample Theme/glyph/muxconfig/clock.png
Sample Theme/glyph/muxconfig/general.png
Sample Theme/glyph/muxconfig/language.png
Sample Theme/glyph/muxconfig/network.png
Sample Theme/glyph/muxconfig/service.png
Sample Theme/glyph/muxconfig/theme.png
Sample Theme/glyph/muxfavourite/favourite.png
Sample Theme/glyph/muxgov/default.png
Sample Theme/glyph/muxgov/governor.png
Sample Theme/glyph/muxhistory/favourite.png
Sample Theme/glyph/muxhistory/history.png
Sample Theme/glyph/muxinfo/credit.png
Sample Theme/glyph/muxinfo/system.png
Sample Theme/glyph/muxinfo/tester.png
Sample Theme/glyph/muxinfo/tracker.png
Sample Theme/glyph/muxlanguage/language.png
Sample Theme/glyph/muxlaunch/apps.png
Sample Theme/glyph/muxlaunch/config.png
Sample Theme/glyph/muxlaunch/explore.png
Sample Theme/glyph/muxlaunch/favourite.png
Sample Theme/glyph/muxlaunch/history.png
Sample Theme/glyph/muxlaunch/info.png
Sample Theme/glyph/muxlaunch/reboot.png
Sample Theme/glyph/muxlaunch/shutdown.png
Sample Theme/glyph/muxnetprofile/profile.png
Sample Theme/glyph/muxnetscan/netscan.png
Sample Theme/glyph/muxnetwork/address.png
Sample Theme/glyph/muxnetwork/connect.png
Sample Theme/glyph/muxnetwork/dns.png
Sample Theme/glyph/muxnetwork/enable.png
Sample Theme/glyph/muxnetwork/gateway.png
Sample Theme/glyph/muxnetwork/identifier.png
Sample Theme/glyph/muxnetwork/password.png
Sample Theme/glyph/muxnetwork/status.png
Sample Theme/glyph/muxnetwork/subnet.png
Sample Theme/glyph/muxnetwork/type.png
Sample Theme/glyph/muxoption/core.png
Sample Theme/glyph/muxoption/governor.png
Sample Theme/glyph/muxplore/favourite.png
Sample Theme/glyph/muxplore/folder.png
Sample Theme/glyph/muxplore/history.png
Sample Theme/glyph/muxplore/rom.png
Sample Theme/glyph/muxpower/battery.png
Sample Theme/glyph/muxpower/idle_display.png
Sample Theme/glyph/muxpower/idle_sleep.png
Sample Theme/glyph/muxpower/shutdown.png
Sample Theme/glyph/muxrtc/day.png
Sample Theme/glyph/muxrtc/hour.png
Sample Theme/glyph/muxrtc/minute.png
Sample Theme/glyph/muxrtc/month.png
Sample Theme/glyph/muxrtc/notation.png
Sample Theme/glyph/muxrtc/timezone.png
Sample Theme/glyph/muxrtc/year.png
Sample Theme/glyph/muxstorage/bios.png
Sample Theme/glyph/muxstorage/catalogue.png
Sample Theme/glyph/muxstorage/config.png
Sample Theme/glyph/muxstorage/content.png
Sample Theme/glyph/muxstorage/language.png
Sample Theme/glyph/muxstorage/music.png
Sample Theme/glyph/muxstorage/network.png
Sample Theme/glyph/muxstorage/save.png
Sample Theme/glyph/muxstorage/screenshot.png
Sample Theme/glyph/muxstorage/theme.png
Sample Theme/glyph/muxsysinfo/capacity.png
Sample Theme/glyph/muxsysinfo/cpu.png
Sample Theme/glyph/muxsysinfo/device.png
Sample Theme/glyph/muxsysinfo/governor.png
Sample Theme/glyph/muxsysinfo/kernel.png
Sample Theme/glyph/muxsysinfo/memory.png
Sample Theme/glyph/muxsysinfo/service.png
Sample Theme/glyph/muxsysinfo/speed.png
Sample Theme/glyph/muxsysinfo/temp.png
Sample Theme/glyph/muxsysinfo/uptime.png
Sample Theme/glyph/muxsysinfo/version.png
Sample Theme/glyph/muxsysinfo/voltage.png
Sample Theme/glyph/muxtask/backup.png
Sample Theme/glyph/muxtask/clear.png
Sample Theme/glyph/muxtask/ethernet.png
Sample Theme/glyph/muxtask/junk.png
Sample Theme/glyph/muxtask/network.png
Sample Theme/glyph/muxtask/retroarch.png
Sample Theme/glyph/muxtask/sdcard.png
Sample Theme/glyph/muxtheme/theme.png
Sample Theme/glyph/muxtimezone/timezone.png
Sample Theme/glyph/muxtweakadv/accelerate.png
Sample Theme/glyph/muxtweakadv/brightness.png
Sample Theme/glyph/muxtweakadv/font.png
Sample Theme/glyph/muxtweakadv/hdmi.png
Sample Theme/glyph/muxtweakadv/led.png
Sample Theme/glyph/muxtweakadv/lock.png
Sample Theme/glyph/muxtweakadv/offset.png
Sample Theme/glyph/muxtweakadv/retrowait.png
Sample Theme/glyph/muxtweakadv/rumble.png
Sample Theme/glyph/muxtweakadv/state.png
Sample Theme/glyph/muxtweakadv/storage.png
Sample Theme/glyph/muxtweakadv/swap.png
Sample Theme/glyph/muxtweakadv/theme.png
Sample Theme/glyph/muxtweakadv/thermal.png
Sample Theme/glyph/muxtweakadv/usbfunction.png
Sample Theme/glyph/muxtweakadv/verbose.png
Sample Theme/glyph/muxtweakadv/volume.png
Sample Theme/glyph/muxtweakgen/advanced.png
Sample Theme/glyph/muxtweakgen/bgm.png
Sample Theme/glyph/muxtweakgen/brightness.png
Sample Theme/glyph/muxtweakgen/colour.png
Sample Theme/glyph/muxtweakgen/hdmi.png
Sample Theme/glyph/muxtweakgen/hidden.png
Sample Theme/glyph/muxtweakgen/interface.png
Sample Theme/glyph/muxtweakgen/power.png
Sample Theme/glyph/muxtweakgen/sound.png
Sample Theme/glyph/muxtweakgen/startup.png
Sample Theme/glyph/muxvisual/backgroundanimation.png
Sample Theme/glyph/muxvisual/battery.png
Sample Theme/glyph/muxvisual/bluetooth.png
Sample Theme/glyph/muxvisual/boxart.png
Sample Theme/glyph/muxvisual/boxartalign.png
Sample Theme/glyph/muxvisual/clock.png
Sample Theme/glyph/muxvisual/counterfile.png
Sample Theme/glyph/muxvisual/counterfolder.png
Sample Theme/glyph/muxvisual/dash.png
Sample Theme/glyph/muxvisual/folderitemcount.png
Sample Theme/glyph/muxvisual/friendlyfolder.png
Sample Theme/glyph/muxvisual/name.png
Sample Theme/glyph/muxvisual/network.png
Sample Theme/glyph/muxvisual/thetitleformat.png
Sample Theme/glyph/muxvisual/titleincluderootdrive.png
Sample Theme/glyph/muxwebserv/browser.png
Sample Theme/glyph/muxwebserv/ntp.png
Sample Theme/glyph/muxwebserv/resilio.png
Sample Theme/glyph/muxwebserv/shell.png
Sample Theme/glyph/muxwebserv/sync.png
Sample Theme/glyph/muxwebserv/terminal.png
Sample Theme/image/bootlogo.bmp
Sample Theme/image/none_box.png
Sample Theme/image/none_preview.png
Sample Theme/image/reboot.png
Sample Theme/image/shutdown.png
Sample Theme/image/static/muxlaunch/apps.png
Sample Theme/image/static/muxlaunch/config.png
Sample Theme/image/static/muxlaunch/explore.png
Sample Theme/image/static/muxlaunch/favourite.png
Sample Theme/image/static/muxlaunch/history.png
Sample Theme/image/static/muxlaunch/info.png
Sample Theme/image/static/muxlaunch/reboot.png
Sample Theme/image/static/muxlaunch/shutdown.png
Sample Theme/image/wall/default.png
Sample Theme/image/wall/muxcharge.png
Sample Theme/image/wall/muxlaunch.png
Sample Theme/image/wall/muxstart.png
Sample Theme/image/wall/muxsysinfo.png
Sample Theme/rgb/rgbconf.sh
Sample Theme/rgb/settings.txt
Sample Theme/scheme/default.txt
Sample Theme/scheme/muxlaunch.txt
Sample Theme/sound/back.wav
Sample Theme/sound/confirm.wav
Sample Theme/sound/navigate.wav
Sample Theme/sound/reboot.wav
Sample Theme/sound/shutdown.wav
