# Ignore generated directories
Generated Archive Manager Files/
Generated Theme Files/
Generated Theme/
Generated Grid Themes/
build/
dist/
venv/
.venv/
.TempBuildTheme/
.Temp*

# Ignore specific files
PreviousDirectories.txt
ConsoleAssociations.txt
MinUIThemeGeneratorConfig*
ConsoleAssociations.json
AlternateMenuNames.json
Default Scheme File.txt
*.afphoto~lock~

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._* 

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Test.py
Sample Theme/
Helper Scripts/Curly Bracket Info.txt
Helper Scripts/Useful Curly Bracket Info.txt
__pycache__/
githubToken.py
screen_items_output.txt
Real MinUI Example Photos/
Helper Scripts/GetConsoleNames/system_ini_files.txt
ROMS/
